# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
noCommit-*
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
generateCode
# (non-example) env vars
env/.env.*

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# built binaries
bin/*

# temp getRidOf?
/tests/cloudflareTunnelTesting/testServer/
/tests/cloudflareTunnelTesting/testServer/*
caddy
/aaa_tempMightMoveBack/
certbot
cloudflare
grafana
html
nginx
nginx/*
old
api/secrets
api/sessions
/src/web/src/app/testpage
test
tests
sessions
transferred
Caddyfile
NOTES.txtOLD
*/keyfile
etc/mongodb.key

# backup configs
config/backups/*

# old charts
fungi-tracker
fungi-tracker/*
k8s
letsencrypt

# noCommit
noCommit/*




