www.home.appli.ng {
  redir https://home.appli.ng{uri}
}

home.appli.ng, localhost {
  handle /_next/* {
    reverse_proxy web:3000
  }
  handle /grafana {
    reverse_proxy grafana:3000
  }
  handle /_next {
    reverse_proxy web:3000
  }
  handle {
    reverse_proxy api:80
  }
}