div {
    box-sizing: border-box;
    max-width: 100%; /* TODO: ensure ok*/
}
*, *::before, *::after {
    box-sizing: border-box;
    max-width: 100%; /* TODO: ensure ok*/
}

.fullPage > .latestListDisplay {
    & .inlineEntry .idTxt {
        font-size: 1.2rem !important; /* TODO: GROSS */
    }
}

.ccSelSlider {
    position: relative;
    top: 2rem;
    margin-left: 1rem;
}

.depthContainer {
    max-width: 100%;
    padding: 0.5em;
    &.depth1, .depth2, .depth3, .depth4 {
        border-radius: 0.5rem;
    }
}
.depth0 {
    background-color: var(--color-surface-0);
    /* TODO: widths, margins, paddings, edges/rounding, etc?*/
    &.subForm {
        & > * {
            margin-bottom: 1em; /* TODO: ensure ok*/
        }
    }
    & > .idComponent {
        text-align: center; /* TODO: ensure ok */
    }
    .depth1 {
        /* TODO: depth1 stuff*/
        background-color: var(--color-surface-tonal-0); /*TODO: ok?*/
        /*background-color: #1a1a1a; TODO: ok?*/
        /* TODO: widths, margins, paddings, edges/rounding, etc?*/
        .depth2 {
            background-color: var(--color-surface-tonal-1);/*TODO: ok?*/
            /* TODO: widths, margins, paddings, edges/rounding, etc?*/
            .depth3 {
                /* TODO: depth3 stuff*/
                background-color: #ff0000;
                /* TODO: widths, margins, paddings, edges/rounding, etc?*/
                .depth4 {
                    /* TODO: depth4 stuff*/
                    background-color: #0000ff;/* TODO: ok?*/
                    /* TODO: widths, margins, paddings, edges/rounding, etc?*/
                }
            }
        }
    }
}



.latestListDisplay {
    display: block;
    & div.inlineEntry {
        display: flex;
        flex-wrap: wrap;
        & > * {
            display: inline-block;
        }
        /* TODO: hover! */
        /* TODO: selected? */
    }
}
.hoverClickable {
    cursor: pointer;
}
.idComponent {
    /* TODO: this */
    &.topLevelId {
        /* TODO: this */
        & > div.idTxt {
            font-size: 1.9em; /* TODO: ok? */
        }
        & > div.openMainPageButton {
            font-size: 1.5em; /* TODO: ok? */
        }
    }
    &.nonTopLevelId {
        /* TODO: this */
        & > div.idTxt {
            font-size: 1.5em;
        }
        & > div.openMainPageButton {
            font-size: 1.3em; /* TODO: ok? */
        }
    }
    & > div { /* text+link and then possibly OpenMainPage component*/
        display: inline-block;/* TODO: ok? */
        &.idTxt {
            /* TODO: this */
            & > a {
                /* TODO: this */
                &:hover {
                    /* TODO: this */
                }
                /* TODO: other pseudoSelectors */
            }
        }
        &.openMainPageButton {
            /* TODO: this */
        }
    }
    & > a {
        /* TODO: this */
        /* TODO: this */
    }

    /* TODO: THIS! */
    & > a {
        /* TODO: THIS! */
        &:hover {
            /* TODO: THIS! */
        }
        /* TODO: other pseudo-selectors! */
    }
}

.formListArea {
    & > button {/* add field button */
        /* TODO: DO THIS! */
    }
    & .aSelector {
        /* TODO: DO THIS? */
    }
    & > div { /* This is each field*/
        /* TODO: DO THIS! */
    }
    & .exists {
        /* TODO: DO THIS! */
    }
    & .new {
        /* TODO: DO THIS! */
    }
    & .readonly {
        /* TODO: DO THIS! */
    }
    & .editable {
        /* TODO: DO THIS! */
    }
}

.dateHolder {
    & > * {
        display: inline-block;
    }
}