div {
    box-sizing: border-box;
    max-width: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
    max-width: 100%;
}

.flexedArea {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap; /* Allows items to move to a new line */
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    max-width: 100%;
    & > * {
        flex: 1 0 auto;
        /*border: 1px solid rebeccapurple; TODO: any borders?*/
        &.flexedSinglesGroup {
            display: grid;
            justify-content: center;
            row-gap: var(--smallestSpace);
            & > *, & .disposedArea, & > .dateHolder {
                display: block;
                & > * {
                    display: inline-block;
                }
                &.dateEditable {
                    display: inline-block;
                    & > * {
                        display: block;
                    }
                }
            }
        }
        & .dateHeader, & .dateValue {
            display: inline-block;
        }
        & div.specSubspecArea {
            & > div {
                margin-bottom: var(--smallestSpace);
            }
        }
        & .parentDisplay, & .innocDisplay, & .lcRecipeArea, & .pcRunArea, &.pcRunArea, &.agarRecipeArea, & .knownFruitableArea, & .saleArea, & .agarBatchAreaWrapper {
            & > * {
                display: inline-block;
            }
        }
        & .confirmedCleanArea > div, & .confirmedCleanSelector > *, &.pcRunArea > * {
            display: inline-block;
        }
    }
}