.listPageTable {
    width: 100%;
    table-layout: auto;
    & > tr.listPageTableRow {
        width: 100%;
        &.nonHeaderRow {
            &:hover {
                background-color: var(--clr-success-1);
            }
        }
        & > td, & > th {
            padding: 0.5rem;
            width: min-content;
            white-space: nowrap; /* Ensure text does not wrap */
            &.fit {
                width: max-content;
            }
        }
    }
}
