div {
    box-sizing: border-box;
    max-width: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
    max-width: 100%;
}

.mriParent {
    display: grid;
    max-width: 100%;
    box-sizing: border-box;
    & > div {
        width: 50%;
        &:first-child {
            display: flex;
            align-items: center; /* Centers vertically */
            justify-content: center; /* Centers horizontally (optional) */
            height: 100%;
            & > img {
                object-fit: contain;
                /*&.landscape {*/
                /*    width: 100%;*/
                /*}*/
                /*&.portrait {*/
                /*    height: 100%;*/
                /*}*/
            }
        }
    }
}
.mriParent > div:first-child {
    display: flex;
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally (optional) */
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    & > img {
        /*object-fit: contain;*/
        &.landscape {
            max-width: 100%;
        }
        &.portrait {
            max-height: 100%;
        }
    }

}
.zoomedPicOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
}
.large-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}