# TODO: FIXME!
COMPOSE_PROJECT_NAME=fungi_tracker
MAIN_API_EXTERNAL_PROTOCOL="https"
MAIN_API_EXTERNAL_PORT="443"
MAIN_API_EXTERNAL_HOST="your_domain.com"

LOCAL_IMAGES_DIR="/tmp/mush/data/pictures"
LOCAL_DB_DIR="/tmp/mush/data/db"

ADMIN_GMAIL="gmail.account.of.your.service.administrator@gmail.com"

MONGO_INITDB_ROOT_USERNAME="testDbRootUsername"
MONGO_INITDB_ROOT_PASSWORD="testDbRootPassword"
MONGO_INITDB_USERNAME="testDbUsername"
MONGO_INITDB_PASSWORD="testDbPassword"
MONGO_INITDB_DATABASE="test-db-name"
MONGO_INITDB_SETUP_USERNAME="test-db-creation-username"
MONGO_INITDB_SETUP_PASSWORD="test-db-creation-password"

CLOUDFLARE_API_TOKEN="1CloudflareApiTokenGoesHere"
CLOUDFLARE_EMAIL="my-cloudflare-email@gmail.com"
CLOUDFLARE_ZONE_ID="cloudflare-zone-id-goes-here"

RFID_SECRET="test-rfid-secret"
GOTHIC_SESSION_SECRET=session-secret-goes-here

GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID_HERE.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOOGLE_CLIENT_SECRET_HERE"

CF_TUNNEL_TOKEN=YOUR_CLOUDFLARE_TUNNEL_TOKEN_HERE