# TODO: FIXME!
COMPOSE_PROJECT_NAME=fungi_tracker
MAIN_API_EXTERNAL_PROTOCOL="https"
MAIN_API_EXTERNAL_PORT="443"
MAIN_API_EXTERNAL_HOST="your_domain.com"

LOCAL_IMAGES_DIR="/tmp/mush/dev/data/pictures"
LOCAL_DB_DIR="/tmp/mush/dev/data/db"

ADMIN_GMAIL="reece.appling@gmail.com"

MONGO_INITDB_ROOT_USERNAME="testDbRootUsername"
MONGO_INITDB_ROOT_PASSWORD="testDbRootPassword"
MONGO_INITDB_USERNAME="testDbUsername"
MONGO_INITDB_PASSWORD="testDbPassword"
MONGO_INITDB_DATABASE="test-db-name"

RFID_SECRET="test-rfid-secret"

GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID_HERE.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOOGLE_CLIENT_SECRET_HERE"

CF_TUNNEL_TOKEN=YOUR_CLOUDFLARE_TUNNEL_TOKEN